<div class="max-w-xl mx-auto p-6 bg-white shadow-md rounded-md">
<h2 class="text-xl font-bold mb-4 text-center">教師ログイン</h2>
<%= form_with url: login_path, scope: :session, local: true do |form| %>
  <div class="mb-4">
    <%= form.label :email, "メールアドレス", class: "block font-bold mb-1" %>
    <%= form.email_field :email, required: true, class: 'border rounded w-full p-2' %>
  </div>

  <div class="mb-4">
    <%= form.label :password, "パスワード", class: "block font-bold mb-1" %>
    <%= form.password_field :password, required: true, class: 'border rounded w-full p-2' %>
  </div>

  <div class="mb-4">
    <label class="inline-flex items-center">
      <%= form.check_box :remember_me, { class: "mr-2" }, "1", "0" %>
      <span>次回から自動ログインする</span>
    </label>
  </div>

  <div class="flex flex-col items-center space-y-2">
    <%= form.submit "ログイン", class: 'bg-blue-500 text-white font-bold py-2 px-4 rounded' %>
    <%= link_to "Googleでログイン", "/auth/google_oauth2", class: 'bg-green-500 text-white font-bold py-2 px-4 rounded' %>
    <%= link_to 'トップページに戻る', root_path, class: 'text-blue-500 hover:underline' %>
  </div>
  </div>
<% end %>