<div class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg">
  <h1 class="text-2xl font-bold mb-4 text-center"><%= @student.name %>の詳細</h1>

  <div class="grid grid-cols-2 gap-4 mb-4">
    <div><span class="font-semibold">性別:</span> <%= @student.gender %></div>
    <div><span class="font-semibold">身長:</span> <%= @student.height %> cm</div>
    <div><span class="font-semibold">体重:</span> <%= @student.weight %> kg</div>
    <div><span class="font-semibold">運動能力:</span> <%= @student.athletic_ability %></div>
    <div><span class="font-semibold">リーダーシップ:</span> <%= @student.leadership %></div>
    <div><span class="font-semibold">協調性:</span> <%= @student.cooperation %></div>
    <div><span class="font-semibold">理系:</span> <%= @student.science %></div>
    <div><span class="font-semibold">文系:</span> <%= @student.humanities %></div>
  </div>

  <div class="mb-4">
  <h2 class="text-xl font-bold mb-2">特技:</h2>
  <p><%= @student.skills.map(&:name).join("、") %></p> <!-- 特技の名前をカンマ区切りで表示 -->
  </div>

  <div class="flex justify-between">
    <%= link_to '生徒一覧に戻る', students_path, class: 'text-blue-500 hover:underline' %>
    <%= link_to '編集', edit_student_path(@student), class: 'text-blue-500 hover:underline' %>
    <%= button_to '削除',
      student_path(@student),
      method: :delete,
      class: 'text-red-500 hover:underline',
      data: { controller: 'confirm', action: 'confirm#confirm' } %>
  </div>
</div>