<!DOCTYPE html>
<html>
<head>
  <title><%= @group_assignment.title %> グループ分け結果</title>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta property="og:title" content="<%= h(@group_assignment.title) %> グループ分け結果" />
  <meta property="og:description" content="生徒数: <%= @group_assignment.students.count.to_s %>人のグループ分けです。" />
  <meta property="og:image" content="<%= url_for(image_path('ogp-group-share.jpg')) %>" />
  <meta property="og:url" content="<%= request.original_url %>" />

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>

<body class="bg-gray-50 text-gray-800">
  <main class="max-w-3xl mx-auto p-4">
    <%= yield %>
  </main>
</body>
</html>